//DOCTYPE html
html(lang="ar")
  head
    include include/head.pug
  body
    nav 
      img(src="Images/navbar.png", alt="" , style="width: 100%")
    section.FinancialPerformance
        .container-fluid
          .container-fixed
            h1.text-center ملخص الاداء المالى
            .row
              .col-lg-3
                .form.form-inline
                  .form-group
                    label(for='exampleInputName2') الفترة من
                    input.form-control(type='Date', placeholder='Jane Doe')
              .col-lg-3
                form.form-inline   
                  .form-group
                    label(for='exampleInputName2') الفترة حتى
                    input.form-control(type='Date', placeholder='Jane Doe')
          .row
            .col-lg-6
              table.table
                thead
                  tr
                    th.text-center(colspan="3") الخزينة الرئيسية
                  tr  
                    th.text-center 4,900,000
                    th 
                    th.text-center الرصيد الحالى
                  tr
                    th.text-center المبلغ
                    th.text-center عدد
                    th التفصيل 
                tbody
                  tr
                    td.text-center 4,900,000
                    td
                    td الرصيد فى 31 ديسمبر 2019
                  tr
                    td.text-center 
                    td
                    td متحصيلات من العملاء (التعاقدات)
                  tr
                    td.text-center 
                    td
                    td مردودات نقدية للمرضى
                  tr
                    td.text-center 
                    td
                    td ايداعات نقدية بالبنك
                  tr
                    td.text-center 
                    td
                    td تمويل من البنك
                  tr
                    td.text-center 
                    td
                    td سداد الى الموردين
                  tr
                    td.text-center 
                    td
                    td سداد أتعاب اطباء
                  tr
                    td.text-center 
                    td
                    td سداد رواتب
                  tr
                    td.text-center 
                    td
                    td متحصلات اخرى
                  tr
                    td.text-center 
                    td
                    td سدادات اخري
                  tr
                    td.text-center 
                    td
                    td تحويل من الخزائن الفرعية
                tfoot 
                  tr
                    td.text-center   4,900,000 
                    td.text-center   
                    td   الرصيد فى 30 ديسمبر 2019
                  tr
                    td.text-center 150,000
                    td
                    td رصيد الخزائن الفرعية لم ترحل للخزينة الرئيسية 
                  tr
                    td.text-center 4,900,000 
                    td
                    td رصيد الفيزا لم تظهر بالبنك

            .col-lg-6
              table.table
                thead
                  tr
                    th.text-center(colspan="3") البنوك
                  tr  
                    th.text-center 7,000,000
                    th 
                    th.text-center الرصيد الحالى
                  tr
                    th.text-center المبلغ
                    th.text-center عدد
                    th التفصيل 
                tbody
                  tr
                    td.text-center 4,900,000
                    td
                    td الرصيد فى 31 ديسمبر 2019
                  tr
                    td.text-center 
                    td
                    td متحصيلات من العملاء (التعاقدات)
                  tr
                    td.text-center 
                    td
                    td متحصيلات من المرضى (النقدى)
                  tr
                    td.text-center 
                    td
                    td مردودات بشيكات للمرضى
                  tr
                    td.text-center 
                    td
                    td ايداعات نقدية من الخزينة الرئيسية
                  tr
                    td.text-center 
                    td
                    td تمويل للخزينة الرئيسية
                  tr
                    td.text-center 
                    td
                    td سداد الى الموردين - (اوراق الدفع/التحويلات) المصدرة
                  tr
                    td.text-center 
                    td
                    td سداد اتعاب اطباء - (اوراق الدفع/التحويلات) المصدرة
                  tr
                    td.text-center 
                    td
                    td سداد رواتب
                  tr
                    td.text-center 
                    td
                    td متحصلات اخرى
                  tr
                    td.text-center 
                    td
                    td سدادات اخري
                  tr
                    td.text-center 
                    td
                    td متحصيلات الفيزا بالبنك
                tfoot 
                  tr
                    td.text-center   7,000,000 
                    td.text-center   
                    td   الرصيد فى 30 ديسمبر 2019
                  tr
                    td.text-center  145,040 
                    td 3
                    td شيكات بالبنك - تحت التحصيل 
                  tr
                    td.text-center  196,700 
                    td 2
                    td شيكات بالخزينة - لم يتم ايداعها بالبنك
                  tr
                    td.text-center   135,000 
                    td 1
                    td شيكات من العملاء مرتدة من البنك 
                  tr
                    td.text-center   365,000 
                    td 15
                    td اوراق دفع - لم تقدم للصرف
          .row
            .col-lg-6
              table.table
                thead
                  tr
                    th.text-center(colspan="3") المرضى النقدى
                      .info
                        small (المرضى النقدى / الحصة النقدية لمرضى التعاقدات)
                  tr  
                    th.text-center 9,380,000
                    th 
                    th.text-center الرصيد الحالى
                  tr
                    th.text-center المبلغ
                    th.text-center عدد
                    th التفصيل 
                tbody
                  tr
                    td.text-center 10,000,000
                    td
                    td الرصيد فى 31 ديسمبر 2019
                  tr
                    td.text-center (3,000,000)
                    td
                    td متحصلات للفواتير
                  tr
                    td.text-center  (120,000)
                    td
                    td خصم نقدى
                  tr
                    td.text-center 
                    td
                    td فواتير المرضى النقدى المصدرة خلال الفترة
                  tr
                    td.text-center  2,500,000 
                    td
                    td الحصة النقدية من فواتير مرضى التعاقدات المصدرة
                  
                tfoot 
                  tr
                    td.text-center    9,380,000 
                    td.text-center   
                    td   الرصيد فى 30 سبتمبر 2020
                  tr
                    td.text-center  384,800 
                    td 23
                    td اجمالى فواتير لم يتم استخراجها
                  tr
                    td.text-center  88,800 
                    td 10
                    td فواتير لم يتم استخراجها (مرضى نقدى)
                  tr
                    td.text-center   296,000 
                    td 13
                    td فواتير لم يتم استخراجها (مرضى التعاقدات)
                  tr
                    td.text-center   15,000 
                    td 9
                    td تامينات المرضى الداخلى
            .col-lg-6
              .col-lg-6
              table.table
                thead
                  tr
                    th.text-center(colspan="3") العملاء
                      .info
                        small (التعاقدات)
                  tr  
                    th.text-center  9,365,000 
                    th 
                    th.text-center الرصيد الحالى
                  tr
                    th.text-center المبلغ
                    th.text-center عدد
                    th التفصيل 
                tbody
                  tr
                    td.text-center 10,000,000
                    td
                    td الرصيد فى 31 ديسمبر 2019
                  tr
                    td.text-center (3,000,000)
                    td 3
                    td متحصلات للفواتير
                  tr
                    td.text-center  (120,000)
                    td  2
                    td استقطاعات
                  tr
                    td.text-center  (15,000)
                    td  1
                    td تسويات
                  tr
                    td.text-center  2,500,000 
                    td  50
                    td مطالبات استخرجت
                  
                tfoot 
                  tr
                    td.text-center     9,365,000 
                    td.text-center   
                    td   الرصيد فى 30 سبتمبر 2020
                  tr
                    td.text-center   1,083,000 
                    td 4
                    td اجمالى مطالبات لم يتم استخراجها
                  tr
                    td.text-center   123,000 
                    td 2
                    td مطالبات لم يتم استخراجها (داخلى)
                  tr
                    td.text-center    960,000 
                    td 2
                    td مطالبات لم يتم استخراجها (خارجى)
          .row
            .col-lg-6
              table.table
                thead
                  tr
                    th.text-center(colspan="3") اتعاب الاطباء		
                  tr  
                    th.text-center  6,630,050 
                    th 
                    th.text-center الرصيد الحالى
                  tr
                    th.text-center المبلغ
                    th.text-center عدد
                    th التفصيل 
                tbody
                  tr
                    td.text-center  7,000,000 
                    td
                    td الرصيد فى 31 ديسمبر 2019
                  tr
                    td.text-center  1,225,000 
                    td 50
                    td اتعاب تم استخراجها
                  tr
                    td.text-center   (1,470,000)
                    td  3
                    td سداد اتعاب اطباء  - (اوراق الدفع/التحويلات) المصدرة
                  tr
                    td.text-center  (58,800)
                    td 2
                    td سداد اتعاب اطباء - نقدى
                  tr
                    td.text-center   (58,800)
                    td  2
                    td استقطاعات

                  
                tfoot 
                  tr
                    td.text-center    9,380,000 
                    td.text-center   
                    td   الرصيد فى 30 سبتمبر 2020
                  tr
                    td.text-center  384,800 
                    td 23
                    td اجمالى فواتير لم يتم استخراجها
                  tr
                    td.text-center  88,800 
                    td 10
                    td فواتير لم يتم استخراجها (مرضى نقدى)
                  tr
                    td.text-center   296,000 
                    td 13
                    td فواتير لم يتم استخراجها (مرضى التعاقدات)
                  tr
                    td.text-center   15,000 
                    td 9
                    td تامينات المرضى الداخلى
            .col-lg-6
              table.table
                thead
                  tr
                    th.text-center(colspan="3") الموردين		
                  tr  
                    th.text-center   6,424,500 
                    th 
                    th.text-center الرصيد الحالى
                  tr
                    th.text-center المبلغ
                    th.text-center عدد
                    th التفصيل 
                tbody
                  tr
                    td.text-center  7,000,000 
                    td
                    td الرصيد فى 31 ديسمبر 2019
                  tr
                    td.text-center  1,750,000 
                    td 50
                    td فواتير تم استلامها
                  tr
                    td.text-center   (2,100,000)
                    td  3
                    td سداد الى الموردين - (اوراق الدفع/التحويلات) المصدرة
                  tr
                    td.text-center   (131,000)
                    td  7
                    td سداد الى الموردين - نقدى
                  tr
                    td.text-center   (84,000)
                    td  2
                    td استقطاعات
                  tr
                    td.text-center    (10,500)
                    td  1
                    td تسويات

                  
                tfoot 
                  tr
                    td.text-center      6,424,500 
                    td.text-center   
                    td   الرصيد فى 30 سبتمبر 2020
                  tr
                    td.text-center    207,200  
                    td 55
                    td اضافات بدون فواتير
          .row
            .col-lg-6
              table.table
                thead
                  tr
                    th.text-center(colspan="3") المخازن	
                      .info
                        small (عدا الصيدلية)
                  tr  
                    th.text-center   8,690,500 

                    th 
                    th.text-center الرصيد الحالى
                  tr
                    th.text-center المبلغ
                    th.text-center عدد
                    th التفصيل 
                tbody
                  tr
                    td.text-center  7,000,000 
                    td
                    td الرصيد فى 31 ديسمبر 2019
                  tr
                    td.text-center   2,100,000 
                    td 3
                    td اضافات مخزنية
                  tr
                    td.text-center    (315,000)
                    td  3
                    td ارتجاعات للموردين
                  tr
                    td.text-center  
                    td 
                    td صرف على مرضى (بالصافى)
                  tr
                    td.text-center   
                    td  
                    td صرف على مركز تكلفة (بالصافى)
                  tr
                    td.text-center   (84,000)
                    td 2
                    td تسويات جردية (بالصافى)
                  tr
                    td.text-center   (10,500) 
                    td  1
                    td التكهين


                  
                tfoot 
                  tr
                    td.text-center     8,690,500 
                    td.text-center   
                    td   الرصيد فى 30 سبتمبر 2020
                  tr
                    td.text-center   207,200 
                    td 55
                    td اضافات بدون فواتير
                  
            .col-lg-6
              table.table
                thead
                  tr
                    th.text-center(colspan="3") الصيدلية		
                  tr  
                    th.text-center    8,690,500 
                    th 
                    th.text-center الرصيد الحالى
                  tr
                    th.text-center المبلغ
                    th.text-center عدد
                    th التفصيل 
                tbody
                  tr
                    td.text-center  7,000,000 
                    td
                    td الرصيد فى 31 ديسمبر 2019
                  tr
                    td.text-center   2,100,000 
                    td 3
                    td اضافات مخزنية
                  tr
                    td.text-center    (315,000)
                    td  3
                    td ارتجاعات للموردين
                  tr
                    td.text-center   
                    td  
                    td صرف على مرضى (بالصافى)
                  tr
                    td.text-center   
                    td  
                    td صرف على مركز تكلفة (بالصافى)
                  tr
                    td.text-center     (84,000)
                    td  2
                    td تسويات جردية (بالصافى)
                  tr
                    td.text-center      (10,500)
                    td  1
                    td التكهين
                  
                tfoot 
                  tr
                    td.text-center       8,690,500 
                    td.text-center   
                    td   الرصيد فى 30 سبتمبر 2020
                  tr
                    td.text-center     207,200 
                    td 55
                    td اضافات بدون فواتير
          .row
            .col-lg-6
              table.table
                thead
                  tr
                    th.text-center(colspan="3") السلف		
                  tr  
                    th.text-center    9,316,300 
                    th 
                    th.text-center الرصيد الحالى
                  tr
                    th.text-center المبلغ
                    th.text-center عدد
                    th التفصيل 
                tbody
                  tr
                    td.text-center   7,000,000 
                    td
                    td الرصيد فى 31 ديسمبر 2019
                  tr
                    td.text-center    2,100,000 
                    td 3
                    td سلف - نقدية
                  tr
                    td.text-center    (315,000)
                    td  3
                    td سلف - علاج عاملين
                  tr
                    td.text-center   216,300 
                    td 3
                    td سلف - دفعات مقدمة من الراتب
                  tr
                    td.text-center    (315,000)
                    td  3
                    td سداد سلف
                  


                  
                tfoot 
                  tr
                    td.text-center      9,316,300 
                    td.text-center   
                    td   الرصيد فى 30 سبتمبر 2020
                  
                  
            .col-lg-6
              table.table
                thead
                  tr
                    th.text-center(colspan="3") الرواتب				
                  tr  
                    th.text-center     8,785,000 
                    th 
                    th.text-center الرصيد الحالى
                  tr
                    th.text-center المبلغ
                    th.text-center عدد
                    th التفصيل 
                tbody
                  tr
                    td.text-center  7,000,000 
                    td
                    td الرصيد فى 31 ديسمبر 2019
                  tr
                    td.text-center    2,100,000 
                    td 3
                    td الرواتب المستحقة
                  tr
                    td.text-center     (315,000)
                    td  3
                    td سداد رواتب - نقدى
                  tr
                    td.text-center   
                    td  
                    td سداد رواتب - بنك
                  
                tfoot 
                  tr
                    td.text-center        8,785,000 
                    td.text-center   
                    td   الرصيد فى 30 سبتمبر 2020
                  tr
                    td.text-center     207,200 
                    td 55
                    td ايقاف رواتب   
         

    
    
    include include/script.pug